<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">About Disciple Builder</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">Disciple Builder exists to fulfill the Great Commission of Jesus, that is, to “Make Disciples” (Matthew 28). By focusing on the General Contractor, Home Builder, subcontractor, etc., this specific platform, in which we live and work daily, as craftsmen, coordinators and problem solvers within the world of construction, provides a heavenly and greater purpose to what we do here on our earthly jobsites. It is the most obvious place to share the Savior of this world with, outside of our own and our family’s walk with Christ.</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">How It Works</a>
            </div>
        </div>
    </div>
</section>