<section class="bg-dark text-white" id="guy-east">
    <div class="container text-left">
        <div class="col-md-12">
            <blockquote class="blockquote">
                <div class="col-sm-4">
                    <img class="img-responsive img-thumbnail float-left" src="{{ asset('images/template/guy_east.png') }}" style="margin-right:15px;">
                </div>
                <h1>About The Founder: {{config.foundertitle}}</h1>
                {{config.founderdescriptionshort | raw}} <a style="color:#fff;" href="#" data-toggle="modal" aria-hidden="true" data-target="#guyModal">Read More</a>
            </blockquote>
        </div>
    </div>
</section>
<div class="modal" id="guyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">About The Founder: Guy East</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{config.founderdescription|raw}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>