{% extends 'admin-base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block stylesheets %}{{parent()}}{% endblock %}
{% block breadcrumbs %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
{% endblock %}
{% block body %}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-chart-area"></i>
    Welcome</div>
    <div class="card-body">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'src/Controller/ConfigController.php'|file_link(0) }}">src/Controller/ConfigController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'templates/config/index.html.twig'|file_link(0) }}">templates/config/index.html.twig</a></code></li>
        </ul>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

{% endblock %}

{% block contact %}{% endblock %}