<nav class="navbar navbar-dark bg-dark navbar-expand-md navbar-inverse fixed-top">
            <!-- Navbar content -->
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="small-logo-container">
                <a class="small-logo" href="/"><img style="background-color:#fff;border-radius: 4px;padding:5px;border:1px solid #7851a9; " width="175px" src="{{asset('images/logos/disciplebuilder.png')}}" alt="Disciple Builder" /></a>
            </div>
            <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                <div class="col-auto mr-auto"></div>
                <ul class="navbar-nav col-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                  </li>
                </ul>
              </div>
        </nav>
        
        <div class="container-fluid big-logo-row">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 big-logo-container">
                  <h1 class="big-logo"><img width="300px" style="margin-top:10px;background-color:#fff;padding:5px;border-radius:5px;" src="{{asset('images/logos/disciplebuilder.png')}}" alt="Disciple Builder" /></h1>
                </div><!--/.col-xs-12 -->
              </div><!--/.row -->
            </div><!--/.container -->
        </div><!--/.container-fluid -->
        
        
        
        $(window).scroll(function() {
    var navbarColor = "62,195,246";//color attr for rgba
    var smallLogoHeight = $('.small-logo').height();
    var bigLogoHeight = $('.big-logo').height();var smallLogoEndPos = 0;
    var smallSpeed = (smallLogoHeight / bigLogoHeight);
    var ySmall = ($(window).scrollTop() * smallSpeed); 
    var smallPadding = navbarHeight - ySmall;
    if (smallPadding > navbarHeight) { smallPadding = navbarHeight; }
    if (smallPadding < smallLogoEndPos) { smallPadding = smallLogoEndPos; }
    if (smallPadding < 0) { smallPadding = 0; }
    $('.small-logo-container ').css({ "padding-top": smallPadding});
    var navOpacity = ySmall / smallLogoHeight; 
    if  (navOpacity > 1) { navOpacity = 1; }
    if (navOpacity < 0 ) { navOpacity = 0; }
    var navBackColor = 'rgba(' + navbarColor + ',' + navOpacity + ')';
    $('.navbar').css({"background-color": navBackColor});
    var shadowOpacity = navOpacity * 0.4;
    if ( ySmall > 1) 
    {
        $('.navbar').css({"box-shadow": "0 2px 3px rgba(0,0,0," + shadowOpacity + ")"});
    } else {
        $('.navbar').css({"box-shadow": "none"});
    }
    if (smallPadding == 0)
    {
        $('.small-logo-container').css({"overflow": "visible"});
        $('.small-logo-container').css({"box-shadow": "0 4px 2px -2px rgba(0,0,0," + shadowOpacity + ")"});
    }else{
        $('.small-logo-container').css({"overflow":"hidden"});
        $('.small-logo-container').css({"box-shadow": "0 4px 2px -2px rgba(0,0,0," + shadowOpacity + ")"});
    }
});